<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">
          <h1 class="text-center">{{site.title}}</h1>
          <h2 class="text-center wow rubberBand">{{site.description}}</h2>

          <div class="hero-video">
            <a data-fancybox data-ratio="2" data-autoplay="1" href="{{ site.demoreel_url }}">
              <img src="{{ page.img_demoreel }}" width="100%" alt="">
            </a>
          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
