{% include header.html %}

{%
assign posts = site.personal | where: "categories", page.code
    | sort: "date"
    | reverse
%}

<main class="">
    <div class="container">
        <h2 class="section-title text-center">{{ page.title }}</h2>

        <div class="row">
            <div class="col-md-3 mt-6">
                <nav class="section-nav">
                    {% for category in site.categories %}
                        <li {% if page.url == category.url %}class="active"{% endif %}>
                            <a href="{{ category.url }}">{{ category.title }}</a>
                        </li>
                    {% endfor %}

                    <a href="/" class="project-link">
                        <button class="btn btn-default btn-sm">
                            <i class="fa fa-play-circle fa-lg"></i> Reel
                        </button>
                    </a>
                </nav>
            </div>
            <div class="col-md-9 mt-6">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-xs-4 post-thumb wow fadeIn">
                            <a href="{{ post.image }}" data-fancybox>
                                <img src="{{ post.image }}" class="img-thumbnail" alt="">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}
