{% include header.html %}

  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-title text-center">{{ page.title }}</h2>

          {% if page.video_url %}
            <div class="video-block">
                <iframe
                    src="https://player.vimeo.com/video/{{ page.video_url|replace:'https://vimeo.com/', '' }}"
                    width="640" height="480"
                    frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                </iframe>
            </div>
          {% endif %}

          {% if page.image %}
            <img src="{{ page.image }}" class="rounded float-left img-thumbnail img-50" >
          {% endif %}

          {{ content }}

        </div>
      </div>
    </div>
  </article>

{% include footer.html %}
